DATABASE_URL="postgresql://postgres:postgres@localhost:5433/supportflow?schema=public"
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5433/supportflow_test?schema=public"
JWT_SECRET="change-this-secret-in-production-min-32-chars"
JWT_EXPIRES_IN="1d"
# SWAGGER_ENABLED="true"
# AUTH_RATE_LIMIT_MAX_REQUESTS=20
